# netlify.toml
[build]
  command = "npm run build"
  publish = "build"

[functions]
  directory = "netlify/functions"

# optional: allow your function to be called from your site
[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"

